body {
  background-color: #333;
}

.link {
  pointer-events: none;
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .5;
}

.bilink {
  pointer-events: none;
  stroke-opacity: .2;
}

.bilink.active {
  pointer-events: none;
  stroke-opacity: 1;
}

text {
  pointer-events: none;
  fill: rgba(255,255,255, 1);
  font-size: 14px;
}